<!--<app-home></app-home>  -->
<!--<router-outlet></router-outlet> -->

<!-- Crear Componente para luego solo llamarlo aca. navbar component -->
<mat-toolbar class="barra mat-elevation-z8">
    <span class="barra-titulo">PRÁCTICA 8</span>
    <div class="espacio"></div>
    <a class="btn1" mat-button routerLink="home">Home</a>
    <a class="btn1" mat-button routerLink="list-categories">Categories</a>
    <a class="btn1" mat-button routerLink="list-shippers">Shippers</a>
</mat-toolbar>    


<router-outlet></router-outlet>