@model Practica3.EF.Logic.DTOs.CategoriesDto
@{
    ViewBag.Title = "Categories";
}

<h1>Modificar Categoria</h1>
<br />
@using (Html.BeginForm("EditView", "Categories", FormMethod.Post))
{
    <label>Nombre Categoria:</label> @Html.TextBoxFor(c => c.CategoryName)
    <br />
    <label>Descripcion Categoria:</label> @Html.TextBoxFor(c => c.Description)
    <br />
    <br />
    <input type="submit" class="btn btn-success" value="Guardar" />
}
<br />
<br />
<div>
    @Html.ActionLink("Volver", "Index", "Categories")
</div>
