@model Practica3.EF.Logic.DTOs.CategoriesDto
@{
    ViewBag.Title = "Categories";
}
<br/>
<br/>
<h1>Modificar Categoría</h1>
<hr/>
<br/>
@using (Html.BeginForm("EditView", "Categories", FormMethod.Post))
{
    @Html.HiddenFor(c => c.CategoryID)

    <label for="CategoryName">Nombre Categoría:</label> @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control", @required = "required" , @maxlength = "15", autocomplete = "off" })
    <br/>
    <label>Descripción Categoría:</label> @Html.TextBoxFor(c => c.Description, new { @class = "form-control", @maxlength = "150", autocomplete = "off" })
    <br/>
    <br/>
    <input type="submit" class="btn btn-success" value="Guardar" onclick="return confirm('¿Está seguro que quiere guardar los cambios?')"/>
}
<br>
<br/>
<div>
    @Html.ActionLink("Volver", "Index", "Categories")
</div>
