<div class="container">
    <h1 class="titulo">PRÁCTICA 8</h1>
    <br>
    <mat-card class="card">
        <mat-card-title class="titulo-card">CATEGORÍAS</mat-card-title>
        <mat-card-subtitle class="sub-titulo">Acceda a la lista completa de Categorías, añada, edite o elimine.</mat-card-subtitle>
        <mat-card-actions class="btnCat">
          <button mat-button class="btn" routerlink="listCategories">IR A CATEGORÍAS</button>
          <a class="nav-link" href="http://localhost:4200/list-categories">Categories</a>
        </mat-card-actions>
      </mat-card>
</div>
<router-outlet></router-outlet>