<!-- <app-home></app-home> -->
<!--<router-outlet></router-outlet> -->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark margin">
    <a class="navbar-brand" href="#">Gestion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4200/home">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/list-categories">cat</a>
        </li>
    </ul>
    </div>
</nav> -->

<!-- Crear Componente para luego solo llamarlo aca. navbar component -->
<mat-toolbar class="barra mat-elevation-z8">
    <span class="barra-titulo">Practica 8</span>
    <div class="espacio"></div>
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="list-categories">Categories</a>
</mat-toolbar>    


<router-outlet></router-outlet>