@{
    ViewBag.Title = "Home Page";
}

<main>
    <br/>
    <br/>
    <section class="row" aria-labelledby="aspnetTitle">
        <br/>
        <h1 id="title">PRÁCTICA 6 - MVC.</h1>
        <br/>
        <hr/>
        <br/>
        <br/>
        <br/>
        <p class=" fs-2 ">EMPEZAR CON:</p>
    </section>
    <br/>
    <br/>
    <div class="row">
        <section class="col-md-3 offset-md-2" aria-labelledby="CategoriesTitle">
            <h2 id="CategoriesTitle">Categorías</h2>
            <p>Vea el listado de Categorías.<br />Agregue, edite o elimine.</p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Categories")">Ir a Categorías &raquo;</a></p>
        </section>
        <section class="col-md-3 offset-md-3" aria-labelledby="ShippersTitle">
            <h2 id="ShippersTitle">Shippers</h2>
            <p>Vea el listado de Shippers.<br />Agregue, edite o elimine.</p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Shippers")">Ir a Shippers &raquo;</a></p>
            <br/>
            <br/>
        </section>
    </div>
</main>