
@{
    ViewBag.Title = "ChuckView";
}
<br />
<br />
<h1 class="text-md-center">Chuck Norris</h1>
<br />
<br />
<div class="">
    <h3>Pobar</h3>
    <button id="boton">Probar</button>
    <p class="" id="frase"></p>
    <img src="" alt="" id="img"/>
</div>

@section Scripts{
    <script src="~/Scripts/JS/script.js"></script>
}